@font-face {
	font-family: 'Garamond-MedDisp';
	src: url('garamond-mediumDisplay.eot'); /* IE9 Compat Modes */
	src: url('garamond-mediumDisplay.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('garamond-mediumDisplay.woff2') format('woff2'),
		 url('garamond-mediumDisplay.woff') format('woff'), /* Modern Browsers */
		 url('garamond-mediumDisplay.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('garamond-mediumDisplay.otf') format('opentype'),
		 url('garamond-mediumDisplay.svg#02867ce269869308b19469756adfa7bc') format('svg'); /* Legacy iOS */
	   
  font-style:   normal;
  font-weight:  400;
}
