@import "../../_settings.scss";

.galleryPage {
	background: #70848c;
}

.galleryNav-new {
	position: sticky;
	top: 0;
	border-bottom: rem-calc(3) solid #fff;

	ul.menu {
		a {
			color: #fff;

			&:hover {
				text-decoration: underline;
			}
		}

		a.active {
			text-decoration: underline;
		}
	}
}

@import "paintings/_landscapes.scss";
