@import "../../_settings.scss";

.galleryPage {
	background: #70848c;
}

// .galleryNav,
.galleryNav-new {
	border-bottom: rem-calc(3) solid #fff;

	.menu {
		a {
			color: #fff;

			&:hover {
				text-decoration: underline;
			}
		}

		a.active {
			text-decoration: underline;
			font-weight: bold;
		}
	}
}

@import "paintings/_landscapes.scss";
