@import "../../_settings.scss";

@import "_sideBar.scss";
@import "_artCard.scss";

.artworkGrid {
	background: #f0f2f2;

	@include breakpoint(medium) {
		padding-left: rem-calc(240);
	}

	@include breakpoint(large) {
		padding-left: rem-calc(360);
	}
}
