@import "../../_settings.scss";

.artCard {
	box-shadow: 0 rem-calc(2) rem-calc(1) 0 rgba(0,0,0,.20), 0 rem-calc(1) rem-calc(1) 0 rgba(0,0,0,.14), 0 rem-calc(1) rem-calc(3) 0 rgba(0,0,0,.12);
	background: #fff;
	border-radius: rem-calc(3);
	padding: rem-calc(15);
	margin: 0 auto 50px;
	max-width: rem-calc(420);
}

.artCard-image {
	position: relative;
	padding-bottom: 100%;
	margin-bottom: rem-calc(15);

	img {
		max-height: 100%;
	}
}

.artCard-prose {
	.title {
		margin: 0;
	}
}