@import "../../_settings.scss";




.galleryNav {
	.menu {
		@include menu-direction(vertical);
	}

	.menu li a {
		color: #fff;
		display: inline-block;

		&:hover {
			text-decoration: underline;
		}
	}

	@include breakpoint(480) {
		position:         sticky;
		position: -webkit-sticky;
		top: 0;
		background: #70848c;
		z-index: 50;

		.menu {
			@include menu-direction(horizontal);
		}
	}
}
