@import "../../_settings.scss";

.sideBar {
	background: #70848c;

	@include breakpoint(medium) {
		.galleryTitle {
			font-size: $h1-serif;
		}
	}

	// @include breakpoint(1025) {
	// 	width: rem-calc(360);
	// 	float: left;
	// }

	// @include breakpoint(large) {
	// 	.galleryTitle {
	// 		font-size: $h1-serif-medium;
	// 	}
	// }

	@include breakpoint(xlarge) {
		width: rem-calc(360);
		float: left;

		// .galleryTitle {
		// 	font-size: $h1-serif;
		// }
	}
}

.sideNav {
	.menu {
		@include menu-direction(vertical);
	}

	.menu li a {
		color: #fff;
		display: inline-block;

		&:hover {
			text-decoration: underline;
		}
	}

	@include breakpoint(480) {
		.menu {
			@include menu-direction(horizontal);
		}
	}

	// @include breakpoint(1025) {
	// 	.menu {
	// 		@include menu-direction(vertical);
	// 	}
	// }

	@include breakpoint(xlarge) {
		.menu {
			@include menu-direction(vertical);
		}
	}
}
