@import "../../_settings.scss";

.sideBar {
	background: #70848c;

	@include breakpoint(medium) {
		// width: rem-calc(240);
		// float: left;

		.galleryTitle {
			font-size: $h2-serif;
		}
	}

	@include breakpoint(1025) {
		width: rem-calc(360);
		float: left;

		.galleryTitle {
			font-size: $h1-serif;
		}
	}
}

.sideNav {
	.menu li a {
		display: inline-block;
		color: #fff;

		&:hover {
			text-decoration: underline;
		}	
	}
}