@import "../../_settings.scss";

.index#index {
	.galleryLinks {
		background: linear-gradient(
		rgba(79,110,122,.80),
		rgba(79,110,122,.80)
		), url("/img/assets/linen.jpg") center/auto repeat;

		.categoryRow {
			position: relative;
			margin-bottom: 50px;
			background: #f0f2f2;
			box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.30);
		}

		.images {
			margin-bottom: 12px;
			background: #fff;

			@include breakpoint(600) {
				margin: 0;
				background: transparent;
				display: inline-block;
			}
		}

		.prose {
			a {
				color: $black;
				border-bottom: 4px solid #70848c;

				&:hover {
					border-bottom-color: transparent;
				}
			}
		}

		.cornerDetail {
			h4 {
				padding-bottom: 16px;
			}

			span {
				line-height: 0;
				color: #fff;
				position: absolute;
				bottom: 8px;
				right: 6px;

				&:after {
					content: "nW";
					font-size: 140px;
				}
			}
		}
	}
}

.categoryRow#seascapes {
	.prose {
		h2 {
			font-size: $h2-serif;
		}
	}
	
	.cornerDetail {
		span {
			display: none;
			visibility: hidden;
		}
	}

	@include breakpoint(600) {
		.images,
		.prose {
			display: inline-block;
		}

		.prose {
			padding-left: rem-calc(20);
		}

		.cornerDetail {
			h4 {
				position: absolute;
				right: 24px;
				bottom: 12px;
				z-index: 10;
			}

			span {
				display: block;
				visibility: visible;
			}
		}
	}

	@include breakpoint(690) {
		.prose {
			h2 {
				font-size: $h2-serif-medium;
			}
		}
	}
}

.categoryRow#venice {
	img {
		max-height: 320px;
	}

	.featureImg {
		margin-bottom: 12px;
		background: #fff;
	}

	.cornerDetail {
		h4 {
			padding: 0;
		}

		span {
			padding-right: 545px;
		}
	}

	@include breakpoint(medium) {
		.featureImg {
			margin: 0 20px 12px 0;
		}

		.prose {
			position: absolute;
			padding: 0 545px 0 400px;
			width: 100%;
			top: 0;

			h2 {
				display: inline-block;
			}
		}

		.cornerDetail {
			h4 {
				padding-right: 545px;
			}
		}
	}
}
