@import "../../_settings.scss";

@import "_bio.scss";

// ---------------------------------------------------------
// |            Full-bleed banner section links            |
// ---------------------------------------------------------

.index#index {
	.bannerSection {
		.scrimContent {
			width: 100%;
			height: 100%;
			justify-content: center;
			flex-direction: column;

			.prose {
				z-index: 10;
				width: 100%;
			}
		}
	}
}



// --------------------------------------------------
// |            in-page import overrides            |
// --------------------------------------------------

@import "_sarton.scss";
@import "_drawings.scss";
