@import "../../_settings.scss";

.galleryPage#drawings {
	.artCard-grid {
		padding-bottom: 0;
	}

	.artCard-grid#sanguine-charcoal-chalk {
		padding-top: rem-calc(25);
	}

	.artCard-grid#sanguine,
	.artCard-grid#black-or-color-pencil {
		padding-top: rem-calc(100);
	}

	.subCategory-heading {
		margin-bottom: rem-calc(25);
		font-size: $h3-serif;
	}

	@include breakpoint(medium) {
		.categoryNav.french {
			li#one {
				max-width: rem-calc(300);

				span {
					display: inline-block;
				}
			}
		}

		.galleryTitle {
			font-size: $h2-serif-medium;
		}

		.artCard-grid#sanguine,
		.artCard-grid#black-or-color-pencil {
			padding-top: rem-calc(130);
		}

		.subCategory-heading {
			font-size: $h3-serif-medium;
		}
	}

	@include breakpoint(1120) {
		.galleryTitle {
			font-size: $h1-serif-medium;
		}

		.subCategory-heading {
			font-size: $h2-serif-medium;
		}
	}
}
