@import "../../_settings.scss";

.galleryPage#drawings {
	.artCard-grid#sanguine-charcoal-chalk {
		padding-top: rem-calc(25);
	}

	.artCard-grid#sanguine,
	.artCard-grid#black-or-color-pencil {
		padding-top: rem-calc(100);
	}

	// .artCard-grid#black-or-color-pencil {
	// 	padding: rem-calc(25) 0 rem-calc(50);
	// }

	.subCategory-heading {
		margin-bottom: rem-calc(25);
		font-size: $h3-serif;
	}

	@include breakpoint(medium) {
		// .artCard-grid#black-or-color-pencil {
		// 	padding-bottom: rem-calc(100);
		// }

		.subCategory-heading {
			font-size: $h3-serif-medium;
		}
	}

	@include breakpoint(large) {
		.subCategory-heading {
			font-size: $h2-serif-medium;
		}
	}
}
