@import "../../../_settings.scss";

.categoryRow#stillLife {
	.imgGroup-1 {
		margin-bottom: 12px;
		background: #fff;
	}

	.cornerDetail {
		span {
			display: none;
			visibility: hidden;
			right: 6px;
		}
	}

	@include breakpoint(550) {
		.cornerDetail {
			span {
				display: block;
				visibility: visible;
			}
		}
	}
}
