@import "../../../_settings.scss";

.categoryRow#stillLife {
	.imgGroup-1 {
		margin-bottom: 12px;
		background: #fff;
	}

	.cornerDetail {
		span {
			display: none;
			visibility: hidden;
			right: 6px;
		}
	}

	@include breakpoint(550) {
		.cornerDetail {
			span {
				display: block;
				visibility: visible;
			}
		}
	}

	@include breakpoint(600) {
		.imgGroup-1 {
			display: inline-block;
		}

		.prose {
			display: inline-block;
		}

		.cornerDetail {
			h4 {
				position: absolute;
				right: 24px;
				bottom: 12px;
			}
		}
	}
}
