@import "../_settings.scss";
@import "typography/_fonts.scss";

// -------------------------------------------------------
// |            Default sans-serif typography            |
// -------------------------------------------------------


.p {
	font-size: $p;
}

.h1 {
	font-size: $h1;
}

.h2 {
	font-size: $h2;
}

.h3 {
	font-size: $h3;
}

.h4 {
	font-size: $h4;
}

.h5 {
	font-size: $h5;
}

.h6 {
	font-size: $h6;
}

@include breakpoint(medium) {
	.h1 {
		font-size: $h1-medium;
	}

	.h2 {
		font-size: $h2-medium;
	}

	.h3 {
		font-size: $h3-medium;
	}

	.h4 {
		font-size: $h4-medium;
	}

	.h5 {
		font-size: $h5-medium;
	}

	.h6 {
		font-size: $h6-medium;
	}
}

// ---------------------------------------------------------------------- //


// ------------------------------------------
// |            Serif Typography            |
// ------------------------------------------


.serif {
	font-family: 'Garamond-MedDisp', Georgia, Times, "Times New Roman", serif;
}


.p.serif {
	font-size: $p-serif;
}

.h1.serif {
	font-size: $h1-serif;
}

.h2.serif {
	font-size: $h2-serif;
}

.h3.serif {
	font-size: $h3-serif;
}

.h4.serif {
	font-size: $h4-serif;
}

.h5.serif {
	font-size: $h5-serif;
}

.h6.serif {
	font-size: $h6-serif;
}

@include breakpoint(medium) {
	.p.serif {
		font-size: $p-serif-medium;
	}

	.h1.serif {
		font-size: $h1-serif-medium;
	}

	.h2.serif {
		font-size: $h2-serif-medium;
	}

	.h3.serif {
		font-size: $h3-serif-medium;
	}

	.h4.serif {
		font-size: $h4-serif-medium;
	}

	.h5.serif {
		font-size: $h5-serif-medium;
	}

	.h6.serif {
		font-size: $h6-serif-medium;
	}
}
