<section class="contactBanner">
	<div class="row">
		<div class="medium-6 large-4 large-push-4 columns text-center">
			<div class="prose inline-block text-left">
				<h3 class="serif">Manoir de Sarton</h3>
				<address class="h4">4, Rue de l’Eglise <br>
				62760 SARTON</address>
			</div>
		</div>
		<div class="medium-6 large-4 columns large-pull-4 text-center">
			<div class="prose inline-block text-left">
				<h3 class="serif">Téléphone</h3>
				<p class="h4">06 88 78 20 20</p>
			</div>
		</div>
		<div class="medium-12 large-4 columns text-center">
			<div class="prose inline-block text-left">
				<h3 class="serif">Email</h3>
				<p class="h4">nicolas.watine@wanadoo.fr</p>
			</div>
		</div>
	</div>
</section>