<section class="contactBanner" style="padding: 55px 0;">
	<div class="row">
		<div class="medium-4 columns medium-push-4 text-center" id="address" style="margin-bottom: 30px;">
			<div class="prose text-left" style="display: inline-block;">
				<h3 class="serif">Manoir de Sarton</h3>
				<address style="font-style: normal; margin-bottom: 16px;" class="h4">4, Rue de l’Eglise <br>
				62760 SARTON</address>
			</div>
		</div>
		<div class="medium-4 columns medium-pull-4 text-center" id="phone" style="margin-bottom: 30px;">
			<div class="prose text-left" style="display: inline-block;">
				<h3 class="serif">Téléphone</h3>
				<p class="h4">06 88 78 20 20</p>
			</div>
		</div>
		<div class="medium-4 columns text-center" id="email" style="margin-bottom: 30px;">
			<div class="prose text-left" style="display: inline-block;">
				<h3 class="serif">Email</h3>
				<p class="h4">nicolas.watine@wanadoo.fr</p>
			</div>
		</div>
	</div>
</section>