<header class="header">
	<div class="row">
		<div class="large-11 columns large-push-1">
			<h1 class="serif margin-0 padding-X"><a href="/eng/">Nicolas WATINE</a></h1>
			<div class="title-bar" data-responsive-toggle="mainNav" data-hide-for="medium">
				<a href="/eng/" class="caps white" style="border-bottom: 2px solid #fff; margin-right: 10px;"><strong>En</strong></a>
				<a href="/" class="caps white">Fr</a>
				<div class="float-right">
					<div class="title-bar-title">Menu</div>
					<button class="menu-icon" type="button" data-toggle="mainNav"></button>
				</div>
			</div>
			<nav class="mainNav text-right medium-text-left" id="mainNav">
				<ul class="vertical medium-horizontal menu" data-magellan>
					<li class="h4 caps"><a href="#paintings">Paintings</a></li>
					<li class="h4 caps"><a href="#drawings">Drawings</a></li>
					<li class="h4 caps"><a href="#sarton">Sarton Manor &amp; Gardens</a></li>
					<!-- <li class="h4 caps"><a href="/">Français</a></li> -->
					<!-- <li class="h4 caps"><a href="#0">Short Stories</a></li> -->
				</ul>
			</nav>
		</div>
	</div>
</header>