<header class="header">
	<div class="row">
		<div class="large-11 columns large-push-1">
			<h1 class="serif margin-0 padding-X"><a href="/">nicolas WATINE</a></h1>
			<nav class="mainNav">
				<ul class="menu">
					<li class="h4 caps"><a href="/gallery">Galeries</a></li>
					<li class="h4 caps"><a href="/drawings/sanguine-charcoal-chalk">Dessins</a></li>
					<li class="h4 caps"><a href="">Sarton</a></li>
					<li class="h4 caps"><a href="">Ecrives</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>