<header class="header">
	<div class="row show-for-medium">
		<div class="large-11 columns large-push-1">
			<aside class="languageToggle padding-X">
				<a href="/" class="lead active caps"><strong>Fr</strong></a>
				<a href="/eng/" class="lead caps">En</a>
			</aside>
		</div>
	</div>
	<div class="row">
		<div class="large-11 columns large-push-1">
			<h1 class="serif margin-0 padding-X"><a href="/">Nicolas WATINE</a></h1>
			<div class="title-bar" data-responsive-toggle="mainNav" data-hide-for="medium">
				<div class="languageToggle inline">
					<a href="/" class="lead active caps"><strong>Fr</strong></a>
					<a href="/eng/" class="lead caps">En</a>
				</div>
				<div class="float-right">
					<div class="title-bar-title">Menu</div>
					<button class="menu-icon" type="button" data-toggle="mainNav"></button>
				</div>
			</div>
			<nav class="mainNav text-right medium-text-left" id="mainNav">
				<ul class="vertical medium-horizontal menu">
					<li class="h4 caps"><a href="/">Accueil</a></li>
					<li class="h4 caps"><a href="/peintures/marines">Peintures</a></li>
					<li class="h4 caps"><a class="active" href="/dessins">Dessins</a></li>
					<li class="h4 caps"><a href="/sarton">Manoir de Sarton</a></li>
					<li class="h4 caps"><a href="/histoires-courtes/">Histoires Courtes</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>