<header class="header" style="padding: 80px 0;">
	<div class="row">
		<div class="large-11 columns large-push-1">
			<h1 class="serif margin-0 padding-X" style="line-height: 1;">nicolas WATINE</h1>
			<nav>
				<ul class="menu">
					<li class="h4 caps" style="letter-spacing: 1.2px;"><a style="color: black;" href="">Galeries</a></li>
					<li class="h4 caps" style="letter-spacing: 1.2px;"><a style="color: black;" href="">Dessins</a></li>
					<li class="h4 caps" style="letter-spacing: 1.2px;"><a style="color: black;" href="">Sarton</a></li>
					<li class="h4 caps" style="letter-spacing: 1.2px;"><a style="color: black;" href="">Ecrives</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>