<header class="header">
	<div class="row">
		<div class="large-11 columns large-push-1">
			<h1 class="serif margin-0 padding-X"><a href="/">Nicolas WATINE</a></h1>
			<div class="title-bar" data-responsive-toggle="mainNav" data-hide-for="medium">
				<div class="float-right">
					<div class="title-bar-title">Menu</div>
					<button class="menu-icon" type="button" data-toggle="mainNav"></button>
				</div>
			</div>
			<nav class="mainNav text-right medium-text-left" id="mainNav">
				<ul class="vertical medium-horizontal menu">
					<li class="h4 caps"><a href="">Paintings</a></li>
					<li class="h4 caps"><a href="">Drawings</a></li>
					<li class="h4 caps"><a href="">Sarton Manor &amp; Gardens</a></li>
					<li class="h4 caps"><a href="">Short Stories</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>