@import "../_settings.scss";

.contactBanner {
	padding: 55px 0;
	background: linear-gradient(
	rgba(240,242,242,.60),
	rgba(240,242,242,.60)
	), url("/img/contact/map.jpg") center/cover no-repeat;

	.prose {
		margin-bottom: rem-calc(30);

		a,
		a * {
			color: $black;
			text-decoration: underline;
			border-bottom: rem-calc(6) solid transparent;
			padding-bottom: rem-calc(8);

			&:hover {
				border-color: #70848C;
			}
		}
	}

	address {
		font-style: normal;
		margin-bottom: rem-calc(16);
	}
}
