@import "../_settings.scss";

header.header {
	padding: rem-calc(70) 0;
	background: #fff url("/img/header/watineDetail.svg") left top/cover no-repeat;

	h1 {
		line-height: 1;

		a {
			color: $black;
		}
	}
}

.languageToggle {
	margin-bottom: 12px;
	
	a {
		color: #000;
		margin-right: 10px;
	}

	a:hover,
	a.active {
		border-bottom: 4px solid #000;
	}
}
