@import "../_settings.scss";

header.header {
	padding: rem-calc(70) 0;
	background: #fff url("/img/header/watineDetail.svg") left top/cover no-repeat;

	h1 {
		line-height: 1;

		a {
			color: $black;
		}
	}
}

.languageToggle {
	margin-bottom: rem-calc(12);

	a {
		color: #000;
		margin-right: rem-calc(10);
	}

	a:hover,
	a.active {
		border-bottom: rem-calc(4) solid #000;
	}
}
