@import "../_settings.scss";

.title-bar {
	background: #70848c;
}

.mainNav {
	background: rgba(112,132,140,.3);

	a {
		color: $black;
		border-bottom: rem-calc(4) solid transparent;

		&:hover {
			text-decoration: underline;
			border-bottom: rem-calc(4) solid #000;
		}
	}

	a.active {
		text-decoration: underline;
		font-weight: bold;
		border-bottom: rem-calc(4) solid #000;
	}

	@include breakpoint(medium) {
		background: none;

		a {
			color: $black;
			border-bottom: rem-calc(4) solid transparent;

			&:hover {
				text-decoration: underline;
				border-bottom: rem-calc(4) solid #000;
			}
		}

		a.active {
			text-decoration: underline;
			font-weight: bold;
			border-bottom: rem-calc(4) solid #000;
		}
	}
}


.no-js {
	@include breakpoint(small only) {
		.mainNav {
			display: none;
		}
	}

	@include breakpoint(medium) {
		.title-bar {
			display: none;
		}
	}
}
