@import "../_settings.scss";

.title-bar {
	background: #70848c;

	.languageToggle {
		a {
			color: #fff;
		}

		a:hover,
		a.active {
			border-bottom: 2px solid #fff;
		}
	}
}

.mainNav {
	background: rgba(112,132,140,.3);

	a {
		color: $black;
		border-right: rem-calc(7) solid transparent;

		&:hover {
			text-decoration: underline;
			border-right: rem-calc(7) solid #70848c;
		}
	}

	a.active {
		text-decoration: underline;
		font-weight: bold;
		border-right: rem-calc(7) solid #70848c;
	}

	@include breakpoint(medium) {
		background: none;

		a {
			border-bottom: rem-calc(4) solid transparent;
			border-right: 0;

			&:hover {
				border-bottom: rem-calc(4) solid #70848c;
				border-right: 0;
			}
		}

		a.active {
			border-bottom: rem-calc(4) solid #70848c;
			border-right: 0;
		}
	}
}


.no-js {
	@include breakpoint(small only) {
		.mainNav {
			display: none;
		}
	}

	@include breakpoint(medium) {
		.title-bar {
			display: none;
		}
	}
}
